<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Force PHP execution
    <FilesMatch "\.php$">
        SetHandler application/x-httpd-php
    </FilesMatch>
    
    # Redirect all to index.php if not a file/directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
</IfModule>

DirectoryIndex index.php
